{% load static %}
{% load helpers %}
<!DOCTYPE html>
<html lang="en">
<head>
     <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/project-static/css/style.css">
    <link rel="stylesheet" href="/project-static/fonts/font-awesome/css/font-awesome.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
</head>
<body>
{% block javascript %}{% endblock %}
</body>
</html>